Playing around with Machine Learning for fun and profit:

In [1]:
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
df = pd.read_csv("sampleData.csv")

In [2]:
df.head()

   age  income credit
0   69       3    low
1   66      57    low
2   49      79    low
3   49      17    low
4   58      26   high

In [3]:
df.loc[len(df)+1] = [44,71,"high"]

In [4]:
df

   age  income credit
0   69       3    low
1   66      57    low
2   49      79    low
3   49      17    low
4   58      26   high
5   44      71   high
7   44      71   high

In [5]:
df.drop([7])

   age  income credit
0   69       3    low
1   66      57    low
2   49      79    low
3   49      17    low
4   58      26   high
5   44      71   high

In [6]:
#This pulls the training and test data out:
dfTrain, dfTest = train_test_split(df,test_size=0.2)

In [7]:
dfTrain

   age  income credit
7   44      71   high
2   49      79    low
1   66      57    low
4   58      26   high
5   44      71   high

In [8]:
dfTest

   age  income credit
3   49      17    low
0   69       3    low

In [9]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=3)
model.fit(dfTrain.ix[:,:2], dfTrain.ix[:,2])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_neighbors=3, p=2, weights='uniform')

In [10]:
for k in range(1,6):
    model = KNeighborsClassifier(n_neighbors=k)
    model.fit(dfTrain.ix[:,:2], dfTrain.ix[:,2])
    # make predictions
    expected = dfTest.ix[:,2]
    predicted = model.predict(dfTest.ix[:,:2])
    # misclassification rate
    error_rate = (predicted != expected).mean()
    print('%d:, %.2f' % (k, error_rate))

1:, 1.00
2:, 1.00
3:, 1.00
4:, 1.00
5:, 1.00

There are only 5 data points in the training set, so can't go above this.

In [11]:
dfTrain.ix[:,2]

7    high
2     low
1     low
4    high
5    high
Name: credit, dtype: object

In [12]:
dfTrain.ix[:,:2]

   age  income
7   44      71
2   49      79
1   66      57
4   58      26
5   44      71

In [16]:
df.describe()

             age     income
count   7.000000   7.000000
mean   54.142857  46.285714
std    10.286376  30.412247
min    44.000000   3.000000
25%    46.500000  21.500000
50%    49.000000  57.000000
75%    62.000000  71.000000
max    69.000000  79.000000