Playing around with Machine Learning for fun and profit:

In [2]:
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
df = pd.read_csv("sampleData.csv")

In [3]:
df.head()

   age  income credit
0   69       3    low
1   66      57    low
2   49      79    low
3   49      17    low
4   58      26   high

In [6]:
df.loc[len(df)+1] = [44,71,"high"]

In [7]:
df

   age  income credit
0   69       3    low
1   66      57    low
2   49      79    low
3   49      17    low
4   58      26   high
5   44      71   high
7   44      71   high

In [8]:
df.drop([7])

   age  income credit
0   69       3    low
1   66      57    low
2   49      79    low
3   49      17    low
4   58      26   high
5   44      71   high

In [11]:
#This pulls the training and test data out:
dfTrain, dfTest = train_test_split(df,test_size=0.2)

In [12]:
dfTrain

   age  income credit
1   66      57    low
5   44      71   high
7   44      71   high
0   69       3    low
3   49      17    low

In [13]:
dfTest

   age  income credit
4   58      26   high
2   49      79    low

In [39]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=3)
model.fit(dfTrain.ix[:,:2], dfTrain.ix[:,2])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_neighbors=3, p=2, weights='uniform')

In [43]:
for k in range(1,6):
    model = KNeighborsClassifier(n_neighbors=k)
    model.fit(dfTrain.ix[:,:2], dfTrain.ix[:,2])
    # make predictions
    expected = dfTest.ix[:,2]
    predicted = model.predict(dfTest.ix[:,:2])
    # misclassification rate
    error_rate = (predicted != expected).mean()
    print('%d:, %.2f' % (k, error_rate))

1:, 1.00
2:, 1.00
3:, 1.00
4:, 1.00
5:, 0.50

There are only 5 data points in the training set, so can't go above this.

In [44]:
dfTrain.ix[:,2]

1     low
5    high
7    high
0     low
3     low
Name: credit, dtype: object

In [45]:
dfTrain.ix[:,:2]

   age  income
1   66      57
5   44      71
7   44      71
0   69       3
3   49      17